@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");

.headingOfPage {
	font-family: "Plus Jakarta Sans";
	font-weight: bolder !important;
	font-size: 32px;
}
.form-wrapper {
	margin-left: 35%;
	display: flex;
	flex-direction: column;
	max-width: 40%;
	min-width: 200px;
	min-height: 400px;
	padding: 20px 40px;
	border-radius: 6px;
}

label {
	color: black;
	font-family: "Plus Jakarta Sans";
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 5px;
}

.form-control {
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #d6d1d5;
	height: 38px;
}
.passwordContainer,
.confirmPasswordContainer {
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	width: 100%;
	height: 38px;
}

.emailcontainer,
.usernameContainer {
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	width: 100%;
	height: 38px;
	margin-bottom: 20px;
}
button {
	font-family: "Plus Jakarta Sans";
	font-weight: 600 !important;
	height: 50px !important;
	margin-top: 528px;
	cursor: pointer;
	margin-right: 0.25em;
	margin-top: 0.5em;
	padding: auto;
	border: none;
	border-radius: 4px;
	background-color: #24a0ed;
}
button:hover {
	background-color: #24a0ed;
	border-radius: 0px;
}

.createAccount {
	font-family: "Plus Jakarta Sans";
	font-weight: 600;
}

.passwordDisclaimerText {
	font-family: "Plus Jakarta Sans";
	padding-bottom: 20px;
}
.passwordCharacterText {
	font-family: "Plus Jakarta Sans";
}

.username,
.email,
button {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 100%;
}
div.confirmpasswordstrength {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.confirmPassword-input {
	margin-bottom: 30px;
}

div.passwordstrengthh {
	display: table;
	width: 100%;
	table-layout: fixed;
}
div.passwordstrengthh .password-label {
	display: table-cell;
	text-align: left;
}
div.passwordstrengthh .passwordstrength-label {
	display: table-cell;
	text-align: right;
	--bs-text-opacity: 1;
	color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
	font-family: "Plus Jakarta Sans";
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 5px;
}
div.usernameLabel-field {
	display: table;
	width: 100%;
	table-layout: fixed;
}
div.usernameLabel-field .username-label {
	display: table-cell;
	text-align: left;
}
div.usernameLabel-field .errorUsername {
	display: table-cell;
	text-align: center;
	font-size: 14px;
	color: #e54030;
	font-weight: 400;
}

.PrivateNotchedOutline-root-1 {
	top: 0 !important;
	border-color: #000;
}
