.NewPasswordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  min-height: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.KeelWorksLogo {
  width: 40vh;
  margin: 20px;
}

h1,
p {
  width: 50vh;
  margin-bottom: 20px;
}

p {
  font-size: medium;
}

h1 {
  font-weight: bolder;
}

button {
  margin-bottom: 30px;
}

button {
  height: 5vh;
}

.MuiOutlinedInput-root {
  margin-bottom: 30px;
  height: 3.1rem;
}

.password-strength {
  margin-left: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.password-rules p {
  margin-top: -18px;
}

.password-rules.focused p.satisfied {
  color: green;
}

.password-rules.focused p {
  color: red;
}
