.ResetPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  min-height: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.KeelWorksLogo {
  width: 40vh;
  margin: 20px;
}

h1,
p {
  width: 50vh;
  margin-bottom: 20px;
}

p {
  font-size: medium;
}

h1 {
  font-weight: bolder;
}

Button {
  margin-bottom: 30px;
  height: 5vh;
}

.MuiOutlinedInput-root {
  margin-bottom: 30px;
  height: 3rem;
}

.error-message {
  margin-top: 25px;
}

.valid-icon {
  color: rgba(64, 133, 81, 1);
}

.invalid-input .MuiOutlinedInput-notchedOutline {
  border-color: rgba(229, 64, 48, 1) !important;
}

.invalid-input:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(229, 64, 48, 1) !important;
}

.invalid-icon {
  color: rgba(229, 64, 48, 1);
}

.red-text {
  color: rgba(229, 64, 48, 1);
}
